html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@font-face {
  font-family: Poppins;
  src: url("/Poppins-Bold.otf") format("opentype");
  /* font-weight: 300; */
}

@font-face {
  font-family: 'Poppins-Light';
  src: url("/Poppins-Light.otf") format("opentype");
  /* font-weight: 300; */
}